# WB4.3 Introducción a SQL

En esta cuaderno de trabajo se explorarán la base de datos `music.db` mediante consultas de SQL. La base de datos contiene tres tablas:
* `songs`, que contiene un identificador `_id`, el título de la canción `title` y el album `album`. 
* `albums`, que contiene un identificador `_id`, el nombre del album `name` y el artista `artist`. 
* `artists`, que contiene un identificador `_id` y su nombre `name`. 

Completa las siguientes instrucciones de acuerdo a lo visto en el tema.

## 1. Acceso a los Datos con Queries.

1. Crea la conexión y un cursor a la base de datos.

In [1]:
import sqlite3

In [2]:
connection = sqlite3.connect("music.db")

In [3]:
cursor = connection.cursor()

2. Explora todas las columnas en todas antes mencionadas tablas. Muestra los primeros 10 registros.

In [4]:
# Explorar tabla songs
query = """
    SELECT *
    FROM songs
    LIMIT 10
    """
cursor.execute(query)
results = cursor.fetchall()
for r in results:
    print(r)

(1, 2, "I Can't Quit You Baby", 343)
(2, 1, 'Taking the Easy Way Out Again', 311)
(3, 6, "Let's Have A Party", 260)
(4, 7, 'Flaming Telepaths', 104)
(5, 11, "Yearnin'", 37)
(6, 1, 'Bat Out Of Hell', 290)
(7, 5, 'Evil Woman', 143)
(8, 7, 'Rat Salad', 50)
(9, 8, 'Young is a World', 402)
(10, 3, 'Sam With The Showing Scalp Flat Top', 429)

In [5]:
# Explorar tabla albums
query = """
    SELECT *
    FROM albums
    LIMIT 10
    """
cursor.execute(query)
results = cursor.fetchall()
for r in results:
    print(r)

(1, 'Tales of the Crown', 16)
(2, 'The Masquerade Ball', 16)
(3, 'Grace', 159)
(4, 'Behind Closed Doors', 147)
(5, 'Day & Age', 121)
(6, 'Sweet Fanny Adams', 172)
(7, 'Spem In Alium', 199)
(8, 'Night In The Ruts', 152)
(9, 'Impurity', 95)
(10, 'Concerto For Group and Orchestra', 196)

In [6]:
# Explorar tabla artists
query = """
    SELECT *
    FROM artists
    LIMIT 10
    """
cursor.execute(query)
results = cursor.fetchall()
for r in results:
    print(r)

(1, 'Mahogany Rush')
(2, 'Elf')
(3, 'Mehitabel')
(4, 'Big Brother & The Holding Company')
(5, 'Roy Harper')
(6, 'Pat Benatar')
(7, 'Rory Gallagher')
(8, 'Iron Maiden')
(9, 'Blaster Bates')
(10, 'Procol Harum')

3. Iron Maiden tiene como `_id = 8`en la tabla de artistas. Emplea este id para identificar sus álbumes en la tabla `albums`. Observa que la columna `artist` hace referencia a los id de los artistas.

In [7]:
# Albums de Iron Maiden (artist id = 8)
query = """
    SELECT *
    FROM albums
    WHERE artist = 8
    """
cursor.execute(query)
results = cursor.fetchall()
for r in results:
    print(r)

(236, 'The Number of the Beast', 8)
(412, 'Powerslave', 8)
(420, 'Seventh Son Of A Seventh Son', 8)

4. Muestras las canciones del album "The Number of the Beast". Presenta tus resultados en orden alfabético.

In [8]:
# Canciones del album "The Number of the Beast" en orden alfabético
query = """
    SELECT *
    FROM songs
    WHERE album = (
        SELECT _id
        FROM albums
        WHERE name = 'The Number of the Beast'
    )
    ORDER BY title
    """
cursor.execute(query)
results = cursor.fetchall()
for r in results:
    print(r)

(3464, 4, '22 Acacia Avenue (1998 Digital Remaster)', 236)
(2295, 2, 'Children Of The Damned (1998 Digital Remaster)', 236)
(4515, 7, 'Gangland (1998 Digital Remaster)', 236)
(3796, 9, 'Hallowed Be Thy Name (1998 Digital Remaster)', 236)
(2332, 1, 'Invaders (1998 Digital Remaster)', 236)
(195, 6, 'Run To The Hills (1998 Digital Remaster)', 236)
(4333, 5, 'The Number Of The Beast (1998 Digital Remaster)', 236)
(2690, 3, 'The Prisoner (1998 Digital Remaster)', 236)
(275, 8, 'Total Eclipse (1998 Digital Remaster)', 236)

## 2. Agregaciones y Agrupamientos de Datos.

1. ¿Cuantas canciones, albumes y artistas se tienen registrados en la base de datos?

In [9]:
# Total de canciones
query = """
    SELECT COUNT(*) AS num_canciones
    FROM songs
    """
cursor.execute(query)
results = cursor.fetchall()
for r in results:
    print(r)

(5350,)

In [10]:
# Total de albumes
query = """
    SELECT COUNT(*) AS num_albumes
    FROM albums
    """
cursor.execute(query)
results = cursor.fetchall()
for r in results:
    print(r)

(439,)

In [11]:
# Total de artistas
query = """
    SELECT COUNT(*) AS num_artistas
    FROM artists
    """
cursor.execute(query)
results = cursor.fetchall()
for r in results:
    print(r)

(201,)

2. Agrupa la tabla albums por artista para identificar qué cuales son los 5 artistas que tienen más albumes.

In [12]:
# Top 5 artistas con más albumes (por id de artista)
query = """
    SELECT artist, COUNT(*) AS num_albumes
    FROM albums
    GROUP BY artist
    ORDER BY num_albumes DESC
    LIMIT 5
    """
cursor.execute(query)
results = cursor.fetchall()
for r in results:
    print(r)

(36, 18)
(16, 15)
(64, 14)
(196, 13)
(152, 13)

3. Presenta el nombre de los artistas identificados en el punto anterior.

In [13]:
# Nombres de los 5 artistas con más albumes
query = """
    SELECT ar.name, COUNT(*) AS num_albumes
    FROM albums al
    JOIN artists ar ON al.artist = ar._id
    GROUP BY al.artist
    ORDER BY num_albumes DESC
    LIMIT 5
    """
cursor.execute(query)
results = cursor.fetchall()
for r in results:
    print(r)

('Black Sabbath', 18)
('Axel Rudi Pell', 15)
('Led Zeppelin', 14)
('Deep Purple', 13)
('Aerosmith', 13)

4. ¿Cuál es el album con más canciones? Investiga sobre este album en la red.

In [14]:
# Id del album con más canciones
query = """
    SELECT album, COUNT(*) AS num_canciones
    FROM songs
    GROUP BY album
    ORDER BY num_canciones DESC
    LIMIT 1
    """
cursor.execute(query)
results = cursor.fetchall()
for r in results:
    print(r)

(177, 72)

In [15]:
# Nombre del album con más canciones
query = """
    SELECT al.name, COUNT(*) AS num_canciones
    FROM songs s
    JOIN albums al ON s.album = al._id
    GROUP BY s.album
    ORDER BY num_canciones DESC
    LIMIT 1
    """
cursor.execute(query)
results = cursor.fetchall()
for r in results:
    print(r)

('Cornology', 72)

In [16]:
# Artista y nombre del album con más canciones
query = """
    SELECT ar.name AS artista, al.name AS album, COUNT(*) AS num_canciones
    FROM songs s
    JOIN albums al ON s.album = al._id
    JOIN artists ar ON al.artist = ar._id
    GROUP BY s.album
    ORDER BY num_canciones DESC
    LIMIT 1
    """
cursor.execute(query)
results = cursor.fetchall()
for r in results:
    print(r)

('Bonzo Dog Band', 'Cornology', 72)

## 3. Combinación de Tablas.

1. Muestra todas el nombre canciones del album "Seventh Son Of A Seventh Son" que tiene por '_id = 420'. Presenta la lista en el *track order* (`track`).

In [17]:
# Canciones de "Seventh Son Of A Seventh Son" (id=420) en track order
query = """
    SELECT title
    FROM songs
    WHERE album = 420
    ORDER BY track
    """
cursor.execute(query)
results = cursor.fetchall()
for r in results:
    print(r)

('Moonchild (1998 Digital Remaster)',)
('Infinite Dreams (1998 Digital Remaster)',)
('Can I Play With Madness (1998 Digital Remaster)',)
('The Evil That Men Do (1998 Digital Remaster)',)
('Seventh Son Of A Seventh Son (1998 Digital Remaster)',)
('The Prophecy (1998 Digital Remaster)',)
('The Clairvoyant (1998 Digital Remaster)',)
('Only The Good Die Young (1998 Digital Remaster)',)

2. Obtén todas las canciones de Aeroesmith en orden alfabético. Solo incluye el título en la salida ¿Cuántas son?

In [18]:
# Canciones de Aerosmith en orden alfabético
query = """
    SELECT s.title
    FROM songs s
    JOIN albums al ON s.album = al._id
    JOIN artists ar ON al.artist = ar._id
    WHERE ar.name = 'Aerosmith'
    ORDER BY s.title
    """
cursor.execute(query)
results = cursor.fetchall()
for r in results:
    print(r)

('(Dulcimer Stomp) The Other Side',)
('(Going Down) Love In An Elevator',)
('(Hoodoo) Voodoo Medicine Man',)
("(Water Song) Janie's Got A Gun",)
("Adam's Apple",)
("Adam's Apple",)
("Ain't That A Bitch",)
('Amazing',)
('Amazing',)
('Angel',)
('Angel',)
('Attitude Adjustment',)
('Avant Garden',)
('Back In The Saddle',)
('Beyond Beautiful',)
('Big Ten Inch Record',)
('Blind Man',)
('Bone To Bone (Coney Island White Fish Boy)',)
('Boogie Man',)
("Can't Stop Messin'",)
('Cheese Cake',)
('Chip Away The Stone',)
('Chip Away The Stone',)
('Chiquita',)
('Come Together',)
('Crash',)
('Crazy',)
('Crazy',)
('Critical Mass',)
("Cryin'",)
("Cryin'",)
('Darkness',)
('Deuces Are Wild',)
("Don't Get Mad Get Even",)
('Dream On',)
('Dream On',)
('Drop Dead Gorgeous',)
('Dude (Looks Like A Lady)',)
('Dude (Looks Like A Lady)',)
('Dude (Looks Like A Lady)- live',)
('Eat The Rich',)
('Eat The Rich',)
('F.I.N.E.',)
('Face',)
('Fallen Angels',)
('Falling In Love (Is Hard On The Knees)',)
('Falling Off',)
('Fever',)
('Flesh',)
('Fly Away From Here',)
('Full Circle',)
('Get A Grip',)
('Girl Keeps Coming Apart',)
('Gotta Love It',)
('Gypsy Boots',)
('Hangman Jury',)
("Heart's Done Time",)
('Hole In My Soul',)
("I Ain't Got You",)
("I'm Down",)
('Intro',)
('Jaded',)
('Jailbait',)
("Janie's Got A Gun",)
('Just Push Play',)
('Kiss Your Past Good-Bye',)
('Last Child',)
('Let The Music do the Talking',)
('Lick and a Promise',)
('Light Inside',)
('Line Up',)
("Livin' On The Edge",)
("Livin' On The Edge",)
('Lord Of The Thighs',)
('Lord Of The Thighs',)
('Lord Of The Thighs',)
('Love In An Elevator',)
('Luv Lies',)
('Magic Touch',)
('Make It',)
('Mama Kin',)
('Mama Kin',)
('Mama Kin',)
('Mia',)
('Monkey On My Back',)
('Mother Popcorn Draw The Line',)
("Movin' Out",)
('My Fist Your Face',)
('My Girl',)
('Nine Lives',)
('No More No More',)
('No Surprize',)
('No Surprize',)
("Nobody's Fault",)
('One Way Street',)
('Outta Your Head',)
("Pandora's Box",)
('Permanent Vacation',)
('Pink',)
('Rag Doll',)
('Rag Doll',)
('Rats in the Cellar',)
('Reefer Head Woman',)
('Remember (Walking In The Sand)',)
('Round And Round',)
('Round And Round',)
('S.O.S.',)
('S.O.S. (Too Bad)',)
('Same Old Song And Dance',)
('Seasons Of Wither',)
('Shame On You',)
("She's On Fire",)
('Shela',)
('Shut Up And Dance',)
('Sick As A Dog',)
('Sight For Sore Eyes',)
('Simoriah',)
('Somebody',)
("Something's Gotta Give",)
('Spaced',)
('St. John',)
('Sunshine',)
('Sweet Emotion',)
('Sweet Emotion',)
('Taste Of India',)
('The Farm',)
('The Movie',)
('The Other Side',)
('The Reason A dog',)
('The hop',)
('Think About It',)
('Three Mile Smile',)
('Toys In The Attic',)
('Toys In The Attic',)
("Train Kept A Rollin'",)
("Train Kept A Rollin'",)
("Train Kept A Rollin'",)
("Trip Hoppin'",)
('Uncle Salty',)
('Under My Skin',)
('Walk On Down',)
('Walk On Water',)
('Walk This Way',)
('Walk This Way',)
("Walkin' The Dog",)
('What It Takes',)
('What It Takes',)
('Woman Of The World',)
('Write Me',)
('You See Me Crying',)
('Young Lust',)

In [19]:
# Total de canciones de Aerosmith
query = """
    SELECT COUNT(*) AS num_canciones
    FROM songs s
    JOIN albums al ON s.album = al._id
    JOIN artists ar ON al.artist = ar._id
    WHERE ar.name = 'Aerosmith'
    """
cursor.execute(query)
results = cursor.fetchall()
for r in results:
    print(r)

(151,)

## Referencias
* Actividad basada en SQLite-Exercises: https://github.com/IancuIulian/SQLite-Exercises

In [20]:
cursor.close()
connection.close()